.card {
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    background-color: white;
}

.card img {
    width: 180px;

}

#pokemonName {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}


#suggestion {
    width: 100%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

#suggestion div {
    padding: 10px;
    cursor: pointer;
}

#suggestion div:hover {
    background-color: #eee;
}